<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/base.css" />
        <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
        <link rel="stylesheet" type="text/css" href="/styles/modules.css" />
        <link rel="stylesheet" type="text/css" href="/styles/icons.css" />
    </head>
    <body>
        <h1>New Search</h1>
        <ul><a href="/">Home</a></ul>
        <div>
            <form action="/searches" method="post">
                <input type="text" name="search" placeholder="Enter a title or author" required>
                <fielset>
                  <label for="title">
                    <span>Title</span>
                    <input class = "radio-button" type="radio" name="search" value="title" required>
                  </label>
                </fielset>
                
                <fielset>
                    <label for="author">
                        <span>Author</span>
                        <input class = "radio-button" type="radio" name="search" value="author" required>
                    </label>
                </fielset>
          
                
                <button type="submit" class="search-new-button">Search Google API</button>
              </form>
        </div>
    </body>
</html>